<article>
    <section>
        <h2>{{ housingLocation?.name }}</h2>
        <p>{{ housingLocation?.city }}</p>
    </section>
    <section>
        <h2>About this location</h2>
    </section>
    <section>
        <h2>Apply now to live here</h2>
        <form [formGroup]="applyForm" (submit)="submitApplication()">
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" formControlName="firstName">
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" formControlName="lastName">
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email">
            <button type="submit">Apply Now</button>
        </form>
    </section>
</article>
